* Name: **Vu Truong Si**
* Github: **vutruong99**
* USC ID: **6031936649**

In [262]:
from scipy.stats import bootstrap
import pandas as pd
import numpy as np
import bootstrapped.stats_functions as bs_stats

In [263]:
# Bending 1 datasets.

bending1_dataset1 = pd.read_csv("../data/AReM/bending1/dataset1.csv", skiprows = 4)
bending1_dataset2 = pd.read_csv("../data/AReM/bending1/dataset2.csv", skiprows = 4)
bending1_dataset3 = pd.read_csv("../data/AReM/bending1/dataset3.csv", skiprows = 4)
bending1_dataset4 = pd.read_csv("../data/AReM/bending1/dataset4.csv", skiprows = 4)
bending1_dataset5 = pd.read_csv("../data/AReM/bending1/dataset5.csv", skiprows = 4)
bending1_dataset6 = pd.read_csv("../data/AReM/bending1/dataset6.csv", skiprows = 4)
bending1_dataset7 = pd.read_csv("../data/AReM/bending1/dataset7.csv", skiprows = 4)

bending1_datasets = [bending1_dataset1, bending1_dataset2, bending1_dataset3, bending1_dataset4, bending1_dataset5,
                    bending1_dataset6,bending1_dataset7]

In [264]:
# Bending 2 datasets.

bending2_dataset1 = pd.read_csv("../data/AReM/bending2/dataset1.csv", skiprows = 4)
bending2_dataset2 = pd.read_csv("../data/AReM/bending2/dataset2.csv", skiprows = 4)
bending2_dataset3 = pd.read_csv("../data/AReM/bending2/dataset3.csv", skiprows = 4)
bending2_dataset4 = pd.read_csv("../data/AReM/bending2/dataset4.csv", skiprows = 4)
bending2_dataset5 = pd.read_csv("../data/AReM/bending2/dataset5.csv", skiprows = 4)
bending2_dataset6 = pd.read_csv("../data/AReM/bending2/dataset6.csv", skiprows = 4)

bending2_datasets = [bending2_dataset1, bending2_dataset2, bending2_dataset3, bending2_dataset4, bending2_dataset5, bending2_dataset6]

In [265]:
# Cycling datasets.

cycling_dataset1 = pd.read_csv("../data/AReM/cycling/dataset1.csv", skiprows = 4)
cycling_dataset2 = pd.read_csv("../data/AReM/cycling/dataset2.csv", skiprows = 4)
cycling_dataset3 = pd.read_csv("../data/AReM/cycling/dataset3.csv", skiprows = 4)
cycling_dataset4 = pd.read_csv("../data/AReM/cycling/dataset4.csv", skiprows = 4)
cycling_dataset5 = pd.read_csv("../data/AReM/cycling/dataset5.csv", skiprows = 4)
cycling_dataset6 = pd.read_csv("../data/AReM/cycling/dataset6.csv", skiprows = 4)
cycling_dataset7 = pd.read_csv("../data/AReM/cycling/dataset7.csv", skiprows = 4)
cycling_dataset8 = pd.read_csv("../data/AReM/cycling/dataset8.csv", skiprows = 4)
cycling_dataset9 = pd.read_csv("../data/AReM/cycling/dataset9.csv", skiprows = 4)
cycling_dataset10 = pd.read_csv("../data/AReM/cycling/dataset10.csv", skiprows = 4)
cycling_dataset11 = pd.read_csv("../data/AReM/cycling/dataset11.csv", skiprows = 4)
cycling_dataset12 = pd.read_csv("../data/AReM/cycling/dataset12.csv", skiprows = 4)
cycling_dataset13 = pd.read_csv("../data/AReM/cycling/dataset13.csv", skiprows = 4)
cycling_dataset14 = pd.read_csv("../data/AReM/cycling/dataset14.csv", skiprows = 4)
cycling_dataset15 = pd.read_csv("../data/AReM/cycling/dataset15.csv", skiprows = 4)

cycling_datasets = [cycling_dataset1, cycling_dataset2, cycling_dataset3, cycling_dataset4, cycling_dataset5, cycling_dataset6,
                    cycling_dataset7, cycling_dataset8, cycling_dataset9, cycling_dataset10, cycling_dataset11, cycling_dataset12,
                     cycling_dataset13, cycling_dataset14, cycling_dataset15]

In [266]:
# Lying datasets.

lying_dataset1 = pd.read_csv("../data/AReM/lying/dataset1.csv", skiprows = 4)
lying_dataset2 = pd.read_csv("../data/AReM/lying/dataset2.csv", skiprows = 4)
lying_dataset3 = pd.read_csv("../data/AReM/lying/dataset3.csv", skiprows = 4)
lying_dataset4 = pd.read_csv("../data/AReM/lying/dataset4.csv", skiprows = 4)
lying_dataset5 = pd.read_csv("../data/AReM/lying/dataset5.csv", skiprows = 4)
lying_dataset6 = pd.read_csv("../data/AReM/lying/dataset6.csv", skiprows = 4)
lying_dataset7 = pd.read_csv("../data/AReM/lying/dataset7.csv", skiprows = 4)
lying_dataset8 = pd.read_csv("../data/AReM/lying/dataset8.csv", skiprows = 4)
lying_dataset9 = pd.read_csv("../data/AReM/lying/dataset9.csv", skiprows = 4)
lying_dataset10 = pd.read_csv("../data/AReM/lying/dataset10.csv", skiprows = 4)
lying_dataset11 = pd.read_csv("../data/AReM/lying/dataset11.csv", skiprows = 4)
lying_dataset12 = pd.read_csv("../data/AReM/lying/dataset12.csv", skiprows = 4)
lying_dataset13 = pd.read_csv("../data/AReM/lying/dataset13.csv", skiprows = 4)
lying_dataset14 = pd.read_csv("../data/AReM/lying/dataset14.csv", skiprows = 4)
lying_dataset15 = pd.read_csv("../data/AReM/lying/dataset15.csv", skiprows = 4)

lying_datasets = [lying_dataset1, lying_dataset2, lying_dataset3, lying_dataset4, lying_dataset5, lying_dataset6,
                    lying_dataset7, lying_dataset8, lying_dataset9, lying_dataset10, lying_dataset11, lying_dataset12,
                     lying_dataset13, lying_dataset14, lying_dataset15]

In [267]:
# Sitting datasets.

sitting_dataset1 = pd.read_csv("../data/AReM/sitting/dataset1.csv", skiprows = 4)
sitting_dataset2 = pd.read_csv("../data/AReM/sitting/dataset2.csv", skiprows = 4)
sitting_dataset3 = pd.read_csv("../data/AReM/sitting/dataset3.csv", skiprows = 4)
sitting_dataset4 = pd.read_csv("../data/AReM/sitting/dataset4.csv", skiprows = 4)
sitting_dataset5 = pd.read_csv("../data/AReM/sitting/dataset5.csv", skiprows = 4)
sitting_dataset6 = pd.read_csv("../data/AReM/sitting/dataset6.csv", skiprows = 4)
sitting_dataset7 = pd.read_csv("../data/AReM/sitting/dataset7.csv", skiprows = 4)
sitting_dataset8 = pd.read_csv("../data/AReM/sitting/dataset8.csv", skiprows = 4)
sitting_dataset9 = pd.read_csv("../data/AReM/sitting/dataset9.csv", skiprows = 4)
sitting_dataset10 = pd.read_csv("../data/AReM/sitting/dataset10.csv", skiprows = 4)
sitting_dataset11 = pd.read_csv("../data/AReM/sitting/dataset11.csv", skiprows = 4)
sitting_dataset12 = pd.read_csv("../data/AReM/sitting/dataset12.csv", skiprows = 4)
sitting_dataset13 = pd.read_csv("../data/AReM/sitting/dataset13.csv", skiprows = 4)
sitting_dataset14 = pd.read_csv("../data/AReM/sitting/dataset14.csv", skiprows = 4)
sitting_dataset15 = pd.read_csv("../data/AReM/sitting/dataset15.csv", skiprows = 4)

sitting_datasets = [sitting_dataset1, sitting_dataset2, sitting_dataset3, sitting_dataset4, sitting_dataset5, sitting_dataset6,
                    sitting_dataset7, sitting_dataset8, sitting_dataset9, sitting_dataset10, sitting_dataset11, sitting_dataset12,
                     sitting_dataset13, sitting_dataset14, sitting_dataset15]

In [268]:
# Standing datasets.

standing_dataset1 = pd.read_csv("../data/AReM/standing/dataset1.csv", skiprows = 4)
standing_dataset2 = pd.read_csv("../data/AReM/standing/dataset2.csv", skiprows = 4)
standing_dataset3 = pd.read_csv("../data/AReM/standing/dataset3.csv", skiprows = 4)
standing_dataset4 = pd.read_csv("../data/AReM/standing/dataset4.csv", skiprows = 4)
standing_dataset5 = pd.read_csv("../data/AReM/standing/dataset5.csv", skiprows = 4)
standing_dataset6 = pd.read_csv("../data/AReM/standing/dataset6.csv", skiprows = 4)
standing_dataset7 = pd.read_csv("../data/AReM/standing/dataset7.csv", skiprows = 4)
standing_dataset8 = pd.read_csv("../data/AReM/standing/dataset8.csv", skiprows = 4)
standing_dataset9 = pd.read_csv("../data/AReM/standing/dataset9.csv", skiprows = 4)
standing_dataset10 = pd.read_csv("../data/AReM/standing/dataset10.csv", skiprows = 4)
standing_dataset11 = pd.read_csv("../data/AReM/standing/dataset11.csv", skiprows = 4)
standing_dataset12 = pd.read_csv("../data/AReM/standing/dataset12.csv", skiprows = 4)
standing_dataset13 = pd.read_csv("../data/AReM/standing/dataset13.csv", skiprows = 4)
standing_dataset14 = pd.read_csv("../data/AReM/standing/dataset14.csv", skiprows = 4)
standing_dataset15 = pd.read_csv("../data/AReM/standing/dataset15.csv", skiprows = 4)

standing_datasets = [standing_dataset1, standing_dataset2, standing_dataset3, standing_dataset4, standing_dataset5, standing_dataset6,
                    standing_dataset7, standing_dataset8, standing_dataset9, standing_dataset10, standing_dataset11, standing_dataset12,
                     standing_dataset13, standing_dataset14, standing_dataset15]

In [269]:
# Walking datasets.

walking_dataset1 = pd.read_csv("../data/AReM/walking/dataset1.csv", skiprows = 4)
walking_dataset2 = pd.read_csv("../data/AReM/walking/dataset2.csv", skiprows = 4)
walking_dataset3 = pd.read_csv("../data/AReM/walking/dataset3.csv", skiprows = 4)
walking_dataset4 = pd.read_csv("../data/AReM/walking/dataset4.csv", skiprows = 4)
walking_dataset5 = pd.read_csv("../data/AReM/walking/dataset5.csv", skiprows = 4)
walking_dataset6 = pd.read_csv("../data/AReM/walking/dataset6.csv", skiprows = 4)
walking_dataset7 = pd.read_csv("../data/AReM/walking/dataset7.csv", skiprows = 4)
walking_dataset8 = pd.read_csv("../data/AReM/walking/dataset8.csv", skiprows = 4)
walking_dataset9 = pd.read_csv("../data/AReM/walking/dataset9.csv", skiprows = 4)
walking_dataset10 = pd.read_csv("../data/AReM/walking/dataset10.csv", skiprows = 4)
walking_dataset11 = pd.read_csv("../data/AReM/walking/dataset11.csv", skiprows = 4)
walking_dataset12 = pd.read_csv("../data/AReM/walking/dataset12.csv", skiprows = 4)
walking_dataset13 = pd.read_csv("../data/AReM/walking/dataset13.csv", skiprows = 4)
walking_dataset14 = pd.read_csv("../data/AReM/walking/dataset14.csv", skiprows = 4)
walking_dataset15 = pd.read_csv("../data/AReM/walking/dataset15.csv", skiprows = 4)

walking_datasets = [walking_dataset1, walking_dataset2, walking_dataset3, walking_dataset4, walking_dataset5, walking_dataset6,
                    walking_dataset7, walking_dataset8, walking_dataset9, walking_dataset10, walking_dataset11, walking_dataset12,
                     walking_dataset13, walking_dataset14, walking_dataset15]

In [270]:
all_datasets = [bending1_datasets, bending2_datasets, cycling_datasets, lying_datasets, sitting_datasets, standing_datasets,
               walking_datasets]

**1. Time Series Classification Part 1: Feature Creation/Extraction**

**(b) Keep datasets 1 and 2 in folders bending1 and bending 2, as well as datasets 1, 2, and 3 in other folders as test data and other datasets as train data.**

In [271]:
# Function to concatenate datasets together. 

def create_datasets(list_of_dataframes):
    result_dataframe = list_of_dataframes[0]
    for dataframe in list_of_dataframes[:-1]:
        result_dataframe = pd.concat([result_dataframe, dataframe] , axis = 0)
        
    return result_dataframe

In [272]:
# List of training datasets.

training_list = []
training_list.extend(bending1_datasets[1:-1])
training_list.extend(bending2_datasets[1:-1])
training_list.extend(cycling_datasets[2:-1])
training_list.extend(lying_datasets[2:-1])
training_list.extend(sitting_datasets[2:-1])
training_list.extend(standing_datasets[2:-1])
training_list.extend(walking_datasets[2:-1])

In [273]:
print("Length of training list:", len(training_list))

Length of training list: 69

In [274]:
# List of test datasets.

test_list = []
test_list.extend(bending1_datasets[:2])
test_list.extend(bending2_datasets[:2])
test_list.extend(cycling_datasets[:3])
test_list.extend(lying_datasets[:3])
test_list.extend(sitting_datasets[:3])
test_list.extend(standing_datasets[:3])
test_list.extend(walking_datasets[:3])

In [275]:
print("Length of test list:", len(test_list))

Length of test list: 19

In [276]:
# Create training and test sets
training_datasets = create_datasets(training_list)
test_datasets = create_datasets(test_list)

In [277]:
training_datasets

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,43.67,0.47,24.75,0.43,30.00,0.00
1,250,43.33,0.47,25.33,0.47,30.00,0.00
2,500,42.75,0.83,25.25,0.83,30.50,0.50
3,750,41.75,0.43,20.50,3.35,30.75,0.83
4,1000,42.50,0.50,20.75,4.55,31.75,0.43
...,...,...,...,...,...,...,...
475,118750,26.00,1.63,15.67,2.62,18.00,5.05
476,119000,37.33,6.13,8.67,5.79,10.75,3.03
477,119250,37.75,5.45,19.50,1.12,12.33,1.25
478,119500,37.00,1.73,13.75,3.42,17.25,6.53
479,119750,42.50,2.29,13.25,2.17,18.25,4.02

In [278]:
test_datasets

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,39.25,0.43,22.75,0.43,33.75,1.30
1,250,39.25,0.43,23.00,0.00,33.00,0.00
2,500,39.25,0.43,23.25,0.43,33.00,0.00
3,750,39.50,0.50,23.00,0.71,33.00,0.00
4,1000,39.50,0.50,24.00,0.00,33.00,0.00
...,...,...,...,...,...,...,...
475,118750,27.75,5.76,13.25,1.30,16.25,2.49
476,119000,38.25,5.12,14.75,2.17,15.00,6.36
477,119250,34.00,2.83,17.00,5.39,9.00,4.97
478,119500,29.00,5.72,12.00,6.60,12.67,5.44
479,119750,38.67,5.79,13.00,1.41,15.75,3.34

In [279]:
def null_check(dataframe):
    return dataframe.isnull().values.any()

In [280]:
outter = -1

for dataset in all_datasets:
    outter = outter + 1
    inner = -1
    for instance in dataset:
        inner = inner + 1
        if null_check(instance):
            print(outter, inner)
        
            
# If nothing is printed, there are no null values in the datasets.

**(c) Feature Extraction**

**Classification of time series usually needs extracting features from them. In this
problem, we focus on time-domain features.**

**i. Research what types of time-domain features are usually used in time series classification and list them (examples are minimum, maximum, mean, etc).**

* Mean
* Standard deviation
* Maximum value
* Minimum value
* Median
* Skewness
* Kurtosis
* 1st quartile 
* 3rd quartile

**ii. Extract the time-domain features minimum, maximum, mean, median, standard deviation, first quartile, and third quartile for all of the 6 time series in each instance. You are free to normalize/standardize features or use them directly.**

In [281]:
features = list(bending1_dataset1.columns)[1:]
features

['avg_rss12', 'var_rss12', 'avg_rss13', 'var_rss13', 'avg_rss23', 'var_rss23']

In [282]:
# Function to extract time-domain features from the datasets.

def time_domain_feature_extraction(dataframe):
    row_results = []
    for feature in features:
        minn = dataframe[feature].min()
        maxx = dataframe[feature].max()
        mean = dataframe[feature].mean()
        median = dataframe[feature].median()
        std = dataframe[feature].std()
        first_quant = list(dataframe[feature].quantile([0.25]))[0]
        third_quant = list(dataframe[feature].quantile([0.75]))[0]
        
        row_results.extend([minn, maxx, mean, median, std, first_quant, third_quant])
        
    return row_results

In [283]:
# Extract all the time-domain features.

time_domain_features_list = []
for dataset in all_datasets:
    for instance in dataset:
        time_domain_features_list.append(time_domain_feature_extraction(instance))

In [284]:
len(time_domain_features_list)

88

In [285]:
columns_tdf = ["min1", "max1", "mean1", "median1", "std1", "1st quart1", "3rd quart1",
              "min2", "max2", "mean2", "median2", "std2", "1st quart2", "3rd quart2",
              "min3", "max3", "mean3", "median3", "std3", "1st quart3", "3rd quart3",
              "min4", "max4", "mean4", "median4", "std4", "1st quart4", "3rd quart4",
              "min5", "max5", "mean5", "median5", "std5", "1st quart5", "3rd quart5",
              "min6", "max6", "mean6", "median6", "std6", "1st quart6", "3rd quart6",]

In [286]:
time_domain_features = pd.DataFrame(time_domain_features_list, columns = columns_tdf)

In [287]:
time_domain_features.insert(0,'Instance',range(1,89))

In [288]:
# All features. 

time_domain_features

,Instance,min1,max1,mean1,median1,std1,1st quart1,3rd quart1,min2,max2,...,std5,1st quart5,3rd quart5,min6,max6,mean6,median6,std6,1st quart6,3rd quart6
0,1,37.25,45.00,40.624792,40.50,1.476967,39.25,42.0000,0.0,1.30,...,2.188449,33.0000,36.00,0.00,1.92,0.570583,0.43,0.582915,0.0000,1.3000
1,2,38.00,45.67,42.812812,42.50,1.435550,42.00,43.6700,0.0,1.22,...,1.995255,32.0000,34.50,0.00,3.11,0.571083,0.43,0.601010,0.0000,1.3000
2,3,35.00,47.40,43.954500,44.33,1.558835,43.00,45.0000,0.0,1.70,...,1.999604,35.3625,36.50,0.00,1.79,0.493292,0.43,0.513506,0.0000,0.9400
3,4,33.00,47.75,42.179813,43.50,3.670666,39.15,45.0000,0.0,3.00,...,3.849448,30.4575,36.33,0.00,2.18,0.613521,0.50,0.524317,0.0000,1.0000
4,5,33.00,45.75,41.678063,41.75,2.243490,41.33,42.7500,0.0,2.83,...,2.411026,28.4575,31.25,0.00,1.79,0.383292,0.43,0.389164,0.0000,0.5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,84,19.50,45.33,33.586875,34.25,4.650935,30.25,37.0000,0.0,14.67,...,3.283983,13.7300,18.25,0.00,8.32,3.259729,3.11,1.640243,2.0500,4.3225
84,85,19.75,45.50,34.322750,35.25,4.752477,31.00,38.0000,0.0,13.47,...,3.119856,13.5000,17.75,0.00,9.67,3.432562,3.20,1.732727,2.1575,4.5650
85,86,19.50,46.00,34.546229,35.25,4.842294,31.25,37.8125,0.0,12.47,...,2.823124,14.0000,17.75,0.00,10.00,3.338125,3.08,1.656742,2.1600,4.3350
86,87,23.50,46.25,34.873229,35.25,4.531720,31.75,38.2500,0.0,14.82,...,3.131076,13.7500,18.00,0.00,9.51,3.424646,3.27,1.690960,2.1700,4.5000
87,88,19.25,44.00,34.473188,35.00,4.796705,31.25,38.0000,0.0,13.86,...,3.156320,13.7300,17.75,0.43,9.00,3.340458,3.09,1.699114,2.1200,4.3750

**iii. Estimate the standard deviation of each of the time-domain features you extracted from the data. Then, use Python's bootstrapped or any other method to build a 90% bootsrap confidence interval for the standard deviation of each feature.**

In [289]:
stds = list(time_domain_features[columns_tdf].describe().loc["std"])

In [290]:
# Standard Deviation.

stds_df = pd.DataFrame(zip(columns_tdf,stds), columns = ["feature", "standard deviation"])
stds_df

       feature  standard deviation
0         min1            9.569975
1         max1            4.394362
2        mean1            5.335718
3      median1            5.440054
4         std1            1.772153
5   1st quart1            6.153590
6   3rd quart1            5.138925
7         min2            0.000000
8         max2            5.062729
9        mean2            1.574164
10     median2            1.412244
11        std2            0.884105
12  1st quart2            0.946386
13  3rd quart2            2.125266
14        min3            2.956462
15        max3            4.875137
16       mean3            4.008380
17     median3            4.036396
18        std3            0.946710
19  1st quart3            4.220658
20  3rd quart3            4.171628
21        min4            0.000000
22        max4            2.183625
23       mean4            1.166114
24     median4            1.145586
25        std4            0.458242
26  1st quart4            0.843620
27  3rd quart4            1.552504
28        min5            6.124001
29        max5            5.741238
30       mean5            5.675593
31     median5            5.813782
32        std5            1.024898
33  1st quart5            6.096465
34  3rd quart5            5.531720
35        min6            0.045838
36        max6            2.518921
37       mean6            1.154812
38     median6            1.086474
39        std6            0.517617
40  1st quart6            0.758584
41  3rd quart6            1.523599

In [291]:
# Confidence Intervals.

cis = []

for feature in columns_tdf:
    new_feature = (list(time_domain_features[feature]),)
    confidence_interval = bootstrap(new_feature, np.std, confidence_level=0.9 ,method = "basic")
    cis.append((confidence_interval.confidence_interval[0], confidence_interval.confidence_interval[1]))

In [292]:
cis_df = pd.DataFrame(zip(columns_tdf, cis), columns = ["feature", "confidence interval"])
cis_df

       feature                          confidence interval
0         min1      (8.306297598000345, 10.809545267239757)
1         max1        (3.47441859612373, 5.436064626767513)
2        mean1       (4.772304198338744, 5.921608533763738)
3      median1       (4.841250468854775, 6.056824710044314)
4         std1     (1.5851193813479352, 1.9608391453752283)
5   1st quart1       (5.626225389395671, 6.687903574147159)
6   3rd quart1       (4.3997446482576645, 5.90382509648225)
7         min2                                   (0.0, 0.0)
8         max2      (4.6968033045123505, 5.476227123737719)
9        mean2       (1.436741759762613, 1.745346535445574)
10     median2      (1.2696842221565052, 1.580005286961096)
11        std2     (0.8219795123958185, 0.9618301293555993)
12  1st quart2      (0.850751625450032, 1.0585433812850646)
13  3rd quart2      (1.948078443721693, 2.3484583074917253)
14        min3       (2.787413632105068, 3.136115669344204)
15        max3      (4.257809636910393, 5.5383610123251525)
16       mean3      (3.5092224644856493, 4.570688723315055)
17     median3       (3.506527682769824, 4.620456663330099)
18        std3     (0.7683650801937671, 1.1241740074307531)
19  1st quart3       (3.706245439282595, 4.778349258742119)
20  3rd quart3       (3.632291417670971, 4.774151647328887)
21        min4                                   (0.0, 0.0)
22        max4       (1.998979548579784, 2.379845194025229)
23       mean4      (1.1038690043322121, 1.248854740590591)
24     median4     (1.0832168472244559, 1.2288851900002844)
25        std4    (0.42776255724673573, 0.4920177671270546)
26  1st quart4      (0.7914517172664467, 0.907924884078226)
27  3rd quart4      (1.470219700109622, 1.6633329453339862)
28        min5       (4.717315727349253, 7.817542770104415)
29        max5       (4.900306302863125, 6.693996114416642)
30       mean5       (4.614051624042794, 6.890183687056238)
31     median5       (4.697936015958393, 7.081950495268413)
32        std5     (0.8289692898982699, 1.2283459320704169)
33  1st quart5      (4.9505647182584305, 7.351216835840473)
34  3rd quart5       (4.503804626192396, 6.646784943359294)
35        min6  (0.013124961748951322, 0.09115393165518615)
36        max6     (2.2654131106395887, 2.7690978712390844)
37       mean6     (1.0890908646572763, 1.2401884190156498)
38     median6     (1.0190658332557185, 1.1701214660849275)
39        std6    (0.48689244340434756, 0.5528590018465058)
40  1st quart6     (0.7058781009372858, 0.8225056137193738)
41  3rd quart6     (1.4376812376147796, 1.6374503770959319)

**iv. Use your judgement to select the three most important time-domain features (one option may be min, mean, and max).**

I believe the three most important time-domain features are Mean, Median, and Standard Deviation because they can help us imagine the distribution of the data and in time series classification it is important to know that, meanwhile, maximum and minimum may not be reliable because they can represent outliers in the dataset.

**2. ISLR 3.7.4**

a) The cubic regression model is more flexible compared to the linear model and with a sample size of 100, which is not huge, the cubic model may generate a better fit on the training data therefore gives a lower training RSS. 

b) For testing, the RSS of the linear model is expected to be lower because the true relationship between the predictor and the response is linear. The cubic model might have slightly overfit to the training data, therefore its performance on the test set is worse.

c) The cubic model is still expected to perform better on the training set due to its flexibility, especially when this time the model is not linear. Therefore the RSS of the cubic model will be lower compared to that of the linear model.

d) For testing, since we do not know how far the relationship is from linear, it is difficult to tell which model will perform better. If the relationship between the predictor and response can be described well using a cubic equation, the cubic model will have lower RSS. On the other hand, if the relationship edges toward linear (but not strictly linear), the linear model will have lower RSS.